.user-card-container {
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 30px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.user-details-container {
  margin-left: 12px;
}

.user-name {
  color: #12022f;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bolds;
  margin-top: 0px;
  margin-bottom: 8px;
}

.user-designation {
  color: #594d6d;
  font-family: "Roboto";
  font-size: 14px;
  margin: 0px;
}
